Client/Service References/Proxy/LanPartyUtility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://fallscout.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fallscout.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://fallscout.com/Imports">
      <xsd:import schemaLocation="http://localhost:8000/LanPartyUtility?xsd=xsd0" namespace="http://fallscout.com" />
      <xsd:import schemaLocation="http://localhost:8000/LanPartyUtility?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/LanPartyUtility?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LanPartyUtility.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyManager_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_RefreshPlayerList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshPlayerList" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ScanDirectory_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ScanDirectory" />
  </wsdl:message>
  <wsdl:message name="ILobbyManager_ScanDirectory_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ScanDirectoryResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILobbyManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsam:Action="http://fallscout.com/ILobbyManager/Connect" message="tns:ILobbyManager_Connect_InputMessage" />
      <wsdl:output wsam:Action="http://fallscout.com/ILobbyManager/ConnectResponse" message="tns:ILobbyManager_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsam:Action="http://fallscout.com/ILobbyManager/Disconnect" message="tns:ILobbyManager_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RefreshPlayerList">
      <wsdl:output wsam:Action="http://fallscout.com/ILobbyManager/RefreshPlayerList" message="tns:ILobbyManager_RefreshPlayerList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ScanDirectory">
      <wsdl:output wsam:Action="http://fallscout.com/ILobbyManager/ScanDirectory" message="tns:ILobbyManager_ScanDirectory_OutputCallbackMessage" />
      <wsdl:input wsam:Action="http://fallscout.com/ILobbyManager/ScanDirectoryResponse" message="tns:ILobbyManager_ScanDirectory_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>